.link {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: rgb(62, 255, 255);
  border-bottom: 0.1rem solid transparent;
  transition: all 0.3s;
}

.link:hover {
  color: #ffc0cb;
  border-bottom: 0.1rem solid #ffc0cb;
}
.link:nth-child(1) {
  margin-right: 1.5%;
}
.link:nth-child(2) {
  margin-right: 1.5%;
}
.link:nth-child(3) {
  margin-right: 1.5%;
}
